/* utf-8*/

html,body{
 height: 100%!important;
 margin: 0;}

body{
min-height: 100%;
margin: 0;}

header{
	width: 100%;}

nav{
	height: 100px;
	width: 100%;
	background: #ccc;}

section{
	width: 100%;
	height:57.5%;
	position: relative;}

footer{
  margin-top: 45px!important;
  padding-top: 35px!important;
  padding-bottom: 36px!important;
  border-top: 1px solid #E5E5E5!important;
  bottom:0!important;
  width: 100%!important;
  position: relative;
  clear: both;
  background: #ccc;
  margin-bottom: 0px!important;

}

.clear{
   min-height: 100%!important;
  height: 100%!important;  
  margin-top: -600px!important;  }

section:after {
  content: ""!important;
  display: block!important;}
